@model IEnumerable<GestionRessourcesP.Models.AGENT>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des agents</h2>

<p>
    @Html.ActionLink("Ajouter Un Agent", "Create")
</p>

<div class="panel panel-primary">
    <div class="panel-heading"> Info-Liste des Agents </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MATRICULE_AGENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOM_AGENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRENOMS_AGENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICE_AGENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FONCTION_AGENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOGIN_AGENT)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MATRICULE_AGENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOM_AGENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRENOMS_AGENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICE_AGENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FONCTION_AGENT)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.LOGIN_AGENT)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID_AGENT }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_AGENT }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.ID_AGENT }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
</div>