
@{
    ViewBag.Title = "ListTraitSalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste Traitement Salle</h2>

<style>
    /* css table*/
    .filterable {
        margin-top: 15px;
    }

        .filterable .panel-heading .pull-right {
            margin-top: -20px;
        }

        .filterable .filters input[disabled] {
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }

            .filterable .filters input[disabled]::-webkit-input-placeholder {
                color: #333;
            }

            .filterable .filters input[disabled]::-moz-placeholder {
                color: #333;
            }

            .filterable .filters input[disabled]:-ms-input-placeholder {
                color: #333;
            }

    /* css table*/
</style>
<br />
<div>

    <h4 class="col-md-3">@Html.ActionLink("Liste Réservation équipement", "ListTraitEquipement", "Traitement", new { @class = "btn btn-primary" })</h4>


    <h4 class="col-lg-offset-8">@Html.ActionLink("Liste Réservation équipement pour régularisation", "Index", "SOLLICITERs", new { @class = "btn btn-primary" })</h4>

</div>
<br />
<hr />
<div class="panel panel-default">

    <div class="panel-heading">Info-Liste des Salles de Réunion</div>

    <div class="panel-body">


        <div class="row">

        </div>


        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Liste des Bénéficiaires</h3>
            </div>
            <table class="table table-bordered table-striped" id="tab">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Matricule" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nom" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Prenoms" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Fonction" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Département" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Libellé Salle" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Date Debut" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Date Fin" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Date Emission" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Statut" disabled> </th>
                        <th><input type="text" class="form-control" placeholder="Options" disabled> </th>
                    </tr>
                </thead>
                <tbody>

                    @{

                        System.Data.DataTable dt = new System.Data.DataTable();
                        dt = ViewBag.dt0;

                        for (var i = 0; i <= dt.Rows.Count - 1; i++)
                        {
                            <tr>
                                <td>
                                    @dt.Rows[i]["MATRICULE_AGENT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["NOM_AGENT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["PRENOMS_AGENT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["FONCTION_AGENT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["DEPARTEMENT_AGENT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["LIBELLE_BUREAU"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["DATE_DEBUT"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["DATE_FIN"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["DATE_EMISSION"].ToString()
                                </td>
                                <td>
                                    @dt.Rows[i]["STATUT_DEMANDER"].ToString()
                                </td>
                                                            
                                <td>

                                  @*  @Html.ActionLink("Traiter", "TraiterReservSalle", "Traitement", new { id = @dt.Rows[i]["MATRICULE_AGENT"].ToString() }, new { @class = "btn btn-default" }) *@
                                        @Html.ActionLink("Valider", "Valider_Salle", "DEMANDERs", new { id = @dt.Rows[i]["ID_DEMANDER"].ToString() }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Mise en Attente", "MiseAttente_Salle", "DEMANDERs", new { id = @dt.Rows[i]["ID_DEMANDER"].ToString() }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Différer", "Differer_Salle", "DEMANDERs", new { id = @dt.Rows[i]["ID_DEMANDER"].ToString() }, new { @class = "btn btn-primary" })
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>





